body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.top {
    display: flex;
    gap: 10px;
    background-color: #1f2937;
    justify-content: center;
}

.logo {
    color: #F9faf8;
    font-size: 24px;
    padding: 20px 0px 20px 20px;
}

.toplinks {
    margin-left: auto;
    padding: 0px 30px 0px 0px;  
    align-self: center;
}

.toplinks a {
    color: white;
    text-decoration: none;
    padding: 10px;
    align-items: center;
}